<ul class="footer__list-social list-unstyled list-social-share">
  <li class="list-social__item">
    <a
      target="_blank"
      href="//www.facebook.com/sharer.php?u={{ shop.url | append: product.url }}"
      class="btn--share share-facebook"
    >
      {%- render 'icon-facebook' -%}
      <span class="share-title" aria-hidden="true">Share</span>
      <span class="visually-hidden">Share on Facebook</span>
    </a>
  </li>
  <li class="list-social__item">
    <a
      target="_blank"
      href="//twitter.com/share?text={{ product.title | url_param_escape }}&amp;url={{ shop.url | append: product.url }}"
      class="btn--share share-twitter"
    >
      {%- render 'icon-twitter' -%}
      <span class="share-title" aria-hidden="true">Tweet</span>
      <span class="visually-hidden">Tweet on Twitter</span>
    </a>
  </li>
  <li class="list-social__item">
    <a
      target="_blank"
      href="//pinterest.com/pin/create/button/?url={{ shop.url | append: product.url }}&amp;media={{ product | img_url: '1024x1024' }}&amp;description={{ product.title | url_param_escape }}"
      class="btn--share share-pinterest"
    >
      {%- render 'icon-pinterest' -%}
      <span class="share-title" aria-hidden="true">Pin It</span>
      <span class="visually-hidden">Pin on Pinterest</span>
    </a>
  </li>
</ul>